.page {
    display: flex;
    background-color: #aaa;
}
.delete-student {
    width: 300px;
    margin: 50px auto;
    
    padding: 20px;
    
    
}

.delete-student h1 {
    text-align: center;
}

.delete-student input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.delete-student button {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    color: black;
    background-color: #aaa;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: auto;
    
}

.delete-student button:hover {
    background-color: #b0b0b0;
    color: blue;
}
